<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="content">
        {{>header}}
        <p>This site was created by Andy Brooks. It uses data from mapbox.com and darksky.net!</p>
        <img src="img/me.jpg" alt="Andy Brooks" class="portrait">
    </div>
    {{>footer}}
</body>

</html>