body {
    color: #333;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    max-width: 80ch;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 1rem;
}

.content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #eee;
    color: #888;
    margin-top: 1rem;
    padding: 1rem 0;
}

header {
    margin: 1rem 0 3rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header ul {
    align-items: center;
    display: flex;
    padding-left: 0;
    list-style: none;
}

header li {
    display: block;
    margin-right: 1rem;
}

header a {
    color: #888;
    text-decoration: none;
}

.portrait {
    width: 15.625rem;
    height: auto;
}

input {
    border: 1px solid #ccc;
    padding: .5rem;
}

button {
    background: #888;
    border: 1px solid #888;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
}